<p style="color: red"> <%= notice %></p>
<% if current_user %>
  <h1>Hello, <%= current_user.email %>!</h1>
  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
    <br />
  <% if current_user.admin? %>
  <%= link_to "Admin Panel", users_path %>
  <% end %>
<% else %>
  <h1>Home</h1>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
<% if current_user != true_user %>
  <hr />
  You (<%= true_user.email %>) are signed in as <%= current_user.email %>
  <%= link_to "Back to admin", stop_impersonating_users_path, data: { turbo_method: :post } %>
<% end %>